@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

// font-family: 'Open Sans', sans-serif;

$red: rgb(210, 0, 0);
$blue: rgb(20, 0, 255);
$light-blue: rgb(22, 172, 205);
$light-grey: rgb(245, 245, 245);
$darker-grey: rgb(60, 60, 60);
$grey: rgb(150, 150, 150);
$green: rgb(36, 217, 65);
$darker-green: rgb(0, 144, 10);
$light-green: rgb(155, 236, 145);
$white: rgb(255, 255, 255);

// button 1
.animation-01 a{
  //margin-left: 44vw;
  //margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 120px;
    transition: all .3s;
    position: absolute;
    margin-left: 20px;
    margin-top: 15px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(150, 150, 150, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(150, 150, 150, 0.2);
}

.btn-white {
    background-color: $white;
    color: $grey;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}

.btn-white::after {
    background-color: $white;
}

.btn:hover::after {
    transform: scaleX(2) scaleY(2.4);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 4s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.bottom-part {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 45%;
  background-image: url(images/hole.png);
}

body{
  border: 0;
  padding: 0;
  margin: 0;
}

// .container{
//   padding-top: 150px;
// }

html{
  font-family: 'Open Sans', sans-serif;
  color: $darker-grey;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.2rem;
  background-color: $light-grey;
}

.featured{
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    position: relative;
    top: 0;
    left: 0;
    animation-name: leftSlide;
    animation-duration: 1.8s;
    animation-delay: .4s;
    transition-timing-function: ease-out;
    @keyframes leftSlide{
      from {
        margin-left: 100%;
        width: 0%;
        height: 0%;
        opacity: 0%;
        }
        25%{
          opacity:0%;
        }
      to {
        margin-left: 0px;
        width: 100%;
        height: 100%;
        opacity: 100%;
      }
    }
  }
}

.featured img{
  padding-right: 100px;
}

.foot{
  display: flex;
  justify-content: space-between;
  max-width: 1088px;
  margin: 0 auto;
  align-items: baseline;
  padding: 12px 0;
  color: $grey;
  text-decoration: none;
}

.foot-options li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding-right: 50px;
}

.foot-options a{
    text-decoration: none;
    list-style: none;
    color: $grey;
}

.home-page{
  display: flex;
  justify-content: flex-start;
}

ul.main{
  margin-block-end: 0;
}

.main li {
  list-style: none;
  display: inline-flex;
  flex-direction: row-reverse;
  font-size: 1.0rem;
  padding: 20px 20px;
    a {
      color: $light-blue;
      text-align: center;
      padding: 15px 10px;
      font-size: 17px;
      text-decoration: none;
      font-style: 700;
      background: $white;
      transition: background-color 2s ease-out 100ms;
    }
    a:hover {
      background-color: $light-blue;
      color: white;
    }
}

.overlay {
display: flex;
justify-content: flex-start;
flex-direction: column;
  h1{
    text-align: left;
    color: $white;
    padding-left: 20px;
  }
  .position{
    position: absolute;
    top: 8px;
    left: 8px;
    margin: 300px auto 150px 150px;
    justify-content: left;
  }
}

.foot-options {
  margin: 0;
  padding: 0;
  color: $grey;
  display: block;
  li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    line-height: 1.3rem;
  }
}

.primary{
  flex: 1;
  text-align: right;
  background-color: $white;
  padding-right: 75px;
  margin: 0;
}

.pic-and-text{
  display: inline-flex;
  max-width: 750px;
  margin: 100px auto 100px auto;
  justify-content: center;
  align-items: center;
  img{
    max-height: 400px;
  }
}

.p-text{
  display: flex;
  max-width: 510px;
  max-height: 205px;
  margin: 0;
  padding-top: 10px;
  text-align: left;
  align-content: center;
  a {
    text-transform: uppercase;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: $white;
    transition: all .6s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $light-blue;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($blue, 15%);
      transition: all .6s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: $white;
      &:before {
        width: 100%;
      }
    }
  }
}

// .position{
//   display: flex;
//   max-width: 1000px;
//   margin: 124px auto auto auto;
// }

.textAndButton{
  //display: inline-flex;
}

.top-video{
  position: relative;
  //height: 80vh;
  overflow: hidden;
    video {
    position: relative;
    z-index: 0;
    margin-top: -350px;
  }
}

ul.row{
  padding: 0;
}

.row ul{
  //display: inline-flex;
  max-width: 750px;
  //justify-content: center;
  //align-content: center;
  //margin: 50px;
  //text-align: left;
  padding: 0;
}

.row li{
    list-style: none;
    //display: inline-flex;
}
